{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>

    <p><a href="/users/view_users">View All Users</a></p>
    <p><a href="/animals/view_animals">View All animals</a></p>
    <p><a href="/attractions/view_attractions">Attractions</a></p>
    <p><a href="/buildings/view_buildings">Buildings</a></p>
    <p><a href="/concessions/view_concessions">Concessions</a></p>
    <p><a href="/employees/view_employees">employees</a></p>
    <p><a href="/enclosures/view_enclosures">enclosure</a></p>
    <p><a href="/hourly_rate">hourly wage payment</a></p>
    <p><a href="/revenuetypes/view_revenuetypes">revenue types</a></p>
    <p><a href="/species/view_species">species</a></p>
    <p><a href="/zooadmission/view_zooadmission">zoo admission</a></p>

    <p><a href="/animal_population">Animal Population</a></p>
    <p><a href="/zooadmission/view_zooadmission">zoo admission</a></p>

{% endblock %}
