{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>

    <p><a href="/users/view_users">View All Users</a></p>
    <p><a href="animals/view_animals">View All animals</a></p>
    <p><a href="animal_population">animal population report</a></p>
    <p><a href="attractions/view_attractions">attractions</a></p>
    <p><a href="buildings/view_buildings">Buildings</a></p>
    <p><a href="concessions/view_concessions">Concessions</a></p>
    <p><a href="employees/view_employees">employees</a></p>
    <p><a href="enclosures/view_enclosures">enclosure</a></p>
    <p><a href="/hourly_rate">hourly wage payment</a></p>
    <p><a href="revenuetypes/view_revenuetypes">revenue types</a></p>
    <p><a href="species/view_species">species</a></p>
    <p><a href="daily_zoo_activity">zoo activity</a></p>
    <p><a href="zooadmission/view_zooadmission">zoo admission</a></p>




    

    <div class="section-title">Assets Management</div>
    <div class="section-title">Zoo Activity</div>
    <div class="section-title">Report Management</div>
{% endblock %}
