{% extends 'base.html' %}
{% block title %}View buildings {% endblock %}
{% block content %}
    <h1>View buildings</h1>
    {% if view_buildings|length > 0 %}
        <table border="1">
            <a href="/buildings/create_buildings">Create New buildings</a>
            <thead>
                <tr>
                    <th> ID</th>
                    <th>Name</th>
                    <th>Type</th>
 
                </tr>
            </thead>
            <tbody>
            {% for vb in view_buildings %}
                <tr>
                    <td>{% firstof vb.ID "N/A" %}</td>
                    <td>{% firstof vb.Name "N/A" %}</td>
                    <td>{% firstof vb.Type "N/A" %}</td>
                    <td>
                        <a href={% url "update_buildings" buildings_id=vb.ID %}>Update</a> 
                         <a href={% url "delete_buildings" buildingsID=vb.ID %}>Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Attractions data in db</h2>
    {% endif %}
{% endblock %}

{#{% if athlete_list|length > 1 %}...{% endif %}#}