<!-- zoo/templates/zoo/asset_management.html -->
<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
<h1>Asset Management</h1>
<div>
    <ul style="list-style: none">
        <li>
            <a href="{% url 'attractions_section' %}">
                <button>attractions section</button>
            </a>
        </li>
        <li>
            <a href="{% url 'employee_hwp' %}">
                <button>Employees management section</button>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
