{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <h1>Welcome to Turtleback Zoo</h1>
        <div class="btn-group">
            <a href="{% url 'asset_management' %}">
                <button>Asset Management</button>
            </a>
            <a href="{% url 'daily_zoo_activity' %}">
                <button>Daily Zoo Activity</button>
            </a>
            <a href="{% url 'management_reporting' %}">
                <button>Management Reporting</button>
            </a>
            <a href="{% url 'login' %}">
                <button>Login</button>
            </a>
            <a href="{% url 'logout' %}">
                <button>Logout</button>
            </a>
        </div>
    </div>
    {#    {% if request.session.role == "Admin" %}#}
    {#    {% elif request.session.role == "Manager" %}#}
    {#    {% else %}#}
    {#    {% endif %}#}
{% endblock %}
