{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <h1>Welcome to Turtleback Zoo</h1>
        <div class="btn-group">
            <a href="{% url 'dashboard' %}">
                <button>Dashboard</button>
            </a>

        <a href="{% url 'login' %}">
                <button>Login</button>
            </a>
            <a href="{% url 'logout' %}">
                <button>Logout</button>
            </a>
        </div>
    </div>
{% endblock %}
