{% extends 'base.html' %}
{% block title %}View Species{% endblock %}
{% block content %}
    <h1>View Species</h1>
    <a href="/species/create_species">Create New Specie</a>
    {% if species|length > 0 %}
        <table border="1">
            <thead>
            <tr>
                <th>Species ID</th>
                <th>Name</th>
                <th>Food Cost</th>
                <th>Update Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sp in species %}
                <tr>
                    <td>{% firstof sp.ID "N/A" %}</td>
                    <td>{% firstof sp.Name "N/A" %}</td>
                    <td>{% firstof sp.FoodCost "N/A" %}</td>
                    <td>{% firstof sp.updated_date "N/A" %}</td>
                    <td>
                        <a href={% url "view_one_species" speciesID=sp.ID %}>View</a>
                        | <a href={% url "update_species" species_id=sp.ID %}>Update</a>
                        {% if request.session.role == "Admin" %}
                        | <a href={% url "delete_species" speciesID=sp.ID %}>Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No species data in db</h2>
    {% endif %}
{% endblock %}