{% extends "base.html" %}
{% block content %}
    <h1>View All Users</h1>'
    <a href="/users/create_user">Create New User</a>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.Username }}</td>
                <td>{{ user.Role }}</td>
                <td>
                    <a href="{% url 'edit_user' username=user.Username %}">Edit</a>
                    | <a href="{% url 'delete_user' username=user.Username %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        {% for message in messages %}
            <div style="color: red">
                {{ message }}
            </div>
        {% endfor %}
    </table>


{% endblock %}