{% extends 'base.html' %}
{% block title %}Create Animal{% endblock %}
{% block content %}
    <h2>Create Animal</h2>

    <!-- Animal creation form -->
    <form method="post" action="">
        {% csrf_token %}
        <label for="status">Status:
            <input type="text" name="status" required>
        </label>
        <br>

        <label for="birthYear">Birth Year:
            <input type="text" name="birthYear" required>
        </label>
        <br>

        <label for="species">Species:
            <select name="species">
                {% for sp in species %}
                    <option value={{ sp.ID }}>{{ sp.Name }}</option>
                {% endfor %}
            </select>
        </label>
        <br>

        <label for="building">Building:
             <select name="building">
                {% for bd in building %}
                    <option value={{ bd.ID }}>{{ bd.Name }}</option>
                {% endfor %}
            </select>
        </label>
        <br>

        <label for="enclosure">Enclosure:
             <select name="enclosure">
                {% for en in enclosure %}
                    <option value={{ en.ID }}>{{ en.SqFt }} sqft</option>
                {% endfor %}
            </select>
        </label>
        <br>

        <button type="submit" name="createAnimal">Create Animal</button>
    </form>

    <a href="/animals/view_animals">Back to Animals</a>

{% endblock %}
