{% extends 'base.html' %}
{% block title %}View Animal{% endblock %}
{% block content %}
    <h1>View Animal</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Animal ID</th>
                <th>Status</th>
                <th>Birth Year</th>
                <th>Species Name</th>
                <th>Enclosure ID</th>
                <th>Building Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    <tbody></tbody>
    </table>

{% endblock %}
